.image-avatar {
    min-height: 6.25vw;
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.avatar:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
}

.title-top {
    font-size: 1.25rem;
}

.title a {
    text-decoration: none;
    color: black;
}

.title a :hover {
    text-decoration: none;
    color: #2fa1b3;
}

.sub-content a {
    text-decoration: none;
    color: black;
}