<div class="row p-0">
  <div class="container">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">
            {{this.post.title}}
          </h1>
          <p class="card-text">
            {{{this.post.content}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>